body {
  width: 100%;
  padding: 0%;
  margin: 0%;
}
/* logo&slogo */
.logo,
.para-of-slogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-of-logo {
  width: 400px;
}
.slogo {
  text-align: center;
  margin-top: -55px;
  color: var(--accent-color-3);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
/* style the travel photo and the qutation */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel-pic {
  width: 348px;
  height: 432px;
  margin-top: 30px;
}
.para-of-travel {
  text-align: center;
  color: var(--accent-color-3);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
/* style the "Start Your Journey" Button */
footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.journey-button {
  width: 218px;
  height: 46px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
  margin-top: 65px;
}
.start {
  text-align: center;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 0.9em;
}
@media screen and (min-width: 1023px) {
  body {
    height: 100vh;
    background-image: url("./assets/images/landing-page/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .logo {
    margin-top: 5em;
    margin-right: 35em;
  }
  .para-pf-slogo {
    margin-top: 1em;
    margin-right: 33em;
  }
  .travel-pic {
    display: none;
  }
  .journey-button {
    width: 494px;
    height: 73px;

    border-radius: 27px;
    margin-top: 65px;
    margin-right: 42em;
  }
  .start {
    font-size: 1.8em;
  }
  .para-of-travel {
    position: absolute;
    top: 25em;
    right: 39em;
  }
}
